.footer {
  width: 100%;
  background-color: #2782c5;
  color: white;
  padding: 10px 20px;
  display: flex;
  align-items: center;

  .logo {
    width: 20%;
  }

  .navegation {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }

  .navegation a {
    color: white;
    text-decoration: none;
  }
  .copy {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px){
  .footer {
    flex-direction: column;
    padding:'50px 0';
    text-align: center;
  }
  .logo {
    width: 30%;
  }
  .navegation{
    flex-direction: column;
  }
  .navegation a {
    margin-top: 10px;
   padding: 3px 0;
  }
  .copy {
    margin-top: 10px;
  }
}