body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

i{
  font-size: 20px;
  cursor: pointer;
}

.icon-eye:before{
  color:#908e8e;
}
.icon-textBox:before {
  color: #9AC2E3;
  margin-top:10px;
}
.icon-start:before{
  color: #9AC2E3
}

.icon-arrow-up-right2:before{
  color: #9AC2E3
}
.icon-down {
  font-size: 15px;
}